<!DOCTYPE html>
<html lang="es">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        <asp:ContentPlaceHolder ID="TitleContent" runat="server" />
    </title>
    <link href="~/css/stilos.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
        <div class="layout">
            <!-- Menú vertical -->
            <nav class="vertical-menu">
                <div class="logo">
                    <h2>Tienda Don Chucho</h2>
                </div>
                <ul>
                    <li><a runat="server" href="~/Default.aspx">Inicio</a></li>
                     <li><a runat="server" href="~/Juego.aspx">Juego</a></li>
                    <li><a runat="server" href="~/Atraccion.aspx">Atraccion</a></li>
                    <li><a runat="server" href="~/Sesion.aspx">Sesion</a></li>
                    <!-- Agrega más enlaces si los necesitas -->
                </ul>
            </nav>

            <!-- Contenido principal -->
            <main class="content">
                <asp:ContentPlaceHolder ID="MainContent" runat="server" />
            </main>
        </div>
    </form>
</body>
</html>

